# Calculating Inequality

To get a sense of how inequality in Connecticut's cities compared nationally, we decided to look at the ratio between two benchmarks: The lowest combined income a household could earn while still breaking into the top 5 percent of household income and the highest combined income a household could earn while still falling in the bottom 20 percent. The farther apart these two numbers are, proportionally, the greater the gap between rich and poor.

The US Census Bureau provides estimates of the numbers we need in a table titled [HOUSEHOLD INCOME QUINTILE UPPER LIMITS](https://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?pid=ACS_16_5YR_B19080&prodType=table).

In [1]:
import pandas

acs = pandas.read_csv('ACS_16_1YR_B19080-1/ACS_16_1YR_B19080.csv')

## Bottom 20 cutoff is HD01_VD02, top 5 cutoff is HD01_VD06
acs = acs[["GEO.id2","GEO.display-label","HD01_VD02","HD01_VD06"]].rename(columns = {"HD01_VD02":"Upper_Limit_Bottom_20","HD01_VD06":"Lower_Limit_Top_5"})

## We're only interested in the 100 biggest metros, so let's join the resident population table and
## only include the largest.
#
## Link to census: https://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?pid=PEP_2017_PEPANNRES&prodType=table
#
pop_16 = pandas.read_csv("PEP_2017_PEPANNRES-1/PEP_2017_PEPANNRES.csv",encoding = "ISO-8859-1")
acs = acs.join(pop_16[["GEO.id2","respop72016"]].set_index("GEO.id2"),on="GEO.id2")
acs = acs.sort_values("respop72016",ascending=False).reset_index(drop=True)
acs = acs.loc[0:99]

# Look at the first 10 rows
acs.head(10)

,GEO.id2,GEO.display-label,Upper_Limit_Bottom_20,Lower_Limit_Top_5,respop72016
0,35620,"New York-Newark-Jersey City, NY-NJ-PA Metro Area",25717,NaN,20275179
1,31080,"Los Angeles-Long Beach-Anaheim, CA Metro Area",25626,NaN,13328261
2,16980,"Chicago-Naperville-Elgin, IL-IN-WI Metro Area",25921,245949.0,9546326
3,19100,"Dallas-Fort Worth-Arlington, TX Metro Area",28601,234781.0,7253424
4,26420,"Houston-The Woodlands-Sugar Land, TX Metro Area",25785,NaN,6798010
5,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV M...",41076,NaN,6150681
6,33100,"Miami-Fort Lauderdale-West Palm Beach, FL Metr...",21198,221668.0,6107433
7,37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD Me...",25571,246971.0,6077152
8,12060,"Atlanta-Sandy Springs-Roswell, GA Metro Area",26684,234699.0,5795723
9,14460,"Boston-Cambridge-Newton, MA-NH Metro Area",31367,NaN,4805942

#### Problem!
There are values missing from this table! The Census doesn't report estimates higher than $250,000. This is an example of [topcoding](link), which the Census says it does for privacy reasons. 16 of the cities in our dataset have topcoded lower limits to their top 5 percent of income earners.

In [3]:
top_coded = acs[acs["Lower_Limit_Top_5"].isnull()]
top_coded

,GEO.id2,GEO.display-label,Upper_Limit_Bottom_20,Lower_Limit_Top_5,respop72016
0,35620,"New York-Newark-Jersey City, NY-NJ-PA Metro Area",25717,NaN,20275179
1,31080,"Los Angeles-Long Beach-Anaheim, CA Metro Area",25626,NaN,13328261
4,26420,"Houston-The Woodlands-Sugar Land, TX Metro Area",25785,NaN,6798010
5,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV M...",41076,NaN,6150681
9,14460,"Boston-Cambridge-Newton, MA-NH Metro Area",31367,NaN,4805942
10,41860,"San Francisco-Oakland-Hayward, CA Metro Area",36353,NaN,4699077
14,42660,"Seattle-Tacoma-Bellevue, WA Metro Area",34576,NaN,3802660
16,41740,"San Diego-Carlsbad, CA Metro Area",30265,NaN,3317200
18,19740,"Denver-Aurora-Lakewood, CO Metro Area",32297,NaN,2851848
20,12580,"Baltimore-Columbia-Towson, MD Metro Area",31209,NaN,2801028
30,12420,"Austin-Round Rock, TX Metro Area",31674,NaN,2060558
34,41940,"San Jose-Sunnyvale-Santa Clara, CA Metro Area",41879,NaN,1990910
46,25540,"Hartford-West Hartford-East Hartford, CT Metro...",29378,NaN,1210075
53,46520,"Urban Honolulu, HI Metro Area",36055,NaN,992761
56,14860,"Bridgeport-Stamford-Norwalk, CT Metro Area",34119,NaN,949191
65,37100,"Oxnard-Thousand Oaks-Ventura, CA Metro Area",34721,NaN,851096

## Using PUMS to impute missing census aggregates

Luckily, we can use the [Public Use Microdata Sample (PUMS)](https://www.census.gov/programs-surveys/acs/technical-documentation/pums.html) to estimate these values ourselves.

[According to the Census](https://www.census.gov/programs-surveys/acs/technical-documentation/pums.html):

>*The American Community Survey (ACS) Public Use Microdata Sample (PUMS) files are a set of untabulated records about individual people or housing units. The Census Bureau produces the PUMS files so that data users can create custom tables that are not available through pretabulated (or summary) ACS data products.*

PUMS are also topcoded, but they're topcoded at $999,999 [CHECK THIS] which should let us get a good estimate of the lower cut-off of the top 5 percent of households.

Getting this PUMS data into a format we can work with takes a long time. Steps 2-4 take an especially long time, so we've cached the results of each of these steps in pickled objects. To create them from scratch, delete or rename the pickles spsecified at the beginning of each step.

### 1. Correlate PUMAs to CBSAs

In order to link the metro areas to the PUMS data, we need to map the GEO.id2 (FIPs codes) to the only geographic type provided in the PUMS data: Public Use Microdata Areas(PUMA). To do this we use the Missouri Census Data Center [Geographic Correspondence Engine](http://mcdc.missouri.edu/websas/geocorr14.html). Let's pull the mappings for Core Based Statistical Areas (CBSA) in all states, because we'll want them later:

![shot1](Screenshots/all_states.png)

We'll be mapping PUMAs to CBSAs (MSAs are a kind of CBSA):

![shot2](Screenshots/mapping.png)

And most PUMAs are entirely within a CBSA, but for those that aren't, Geocorr will estimate the percentage of the PUMA's population contained within that CBSA based off of 2014 measurements:

![shot3](Screenshots/population.png)

Give it a moment to build the file. Then download the CSV, make sure it's named "geocorr14.csv", and put it in the same directory as this notebook. And then...

In [4]:
# ...open it up!
geocorr = pandas.read_csv("geocorr14.csv", encoding = "ISO-8859-1")[1:]
geocorr.head()

,state,puma12,cbsa,stab,cbsaname15,PUMAname,pop14,afact
1,01,00100,,AL,,"Lauderdale, Colbert, Franklin & Marion (Northe...",39326.125,0.21
2,01,00100,22520,AL,"Florence-Muscle Shoals, AL (Metro)","Lauderdale, Colbert, Franklin & Marion (Northe...",147639,0.79
3,01,00200,26620,AL,"Huntsville, AL (Metro)",Limestone & Madison (Outer) Counties--Huntsvil...,183944.849,1
4,01,00301,26620,AL,"Huntsville, AL (Metro)",Huntsville (North) & Madison (East) Cities,124425.297,1
5,01,00302,26620,AL,"Huntsville, AL (Metro)",Huntsville City (Central & South),106218.3,1

PUMAs are unique within states but not between them, so to map them to nationally unique FIPs codes (the 'cbsa' column) we'll need to combine the 'state' and 'puma12' columns into a new field like so:

In [5]:
def make_stpuma(st,puma):
    return int(str(st)+str(puma).rjust(5,'0'))

geocorr['stpuma'] = geocorr.apply(lambda x: make_stpuma(x["state"],x["puma12"]),axis=1)
geocorr.head()

,state,puma12,cbsa,stab,cbsaname15,PUMAname,pop14,afact,stpuma
1,01,00100,,AL,,"Lauderdale, Colbert, Franklin & Marion (Northe...",39326.125,0.21,100100
2,01,00100,22520,AL,"Florence-Muscle Shoals, AL (Metro)","Lauderdale, Colbert, Franklin & Marion (Northe...",147639,0.79,100100
3,01,00200,26620,AL,"Huntsville, AL (Metro)",Limestone & Madison (Outer) Counties--Huntsvil...,183944.849,1,100200
4,01,00301,26620,AL,"Huntsville, AL (Metro)",Huntsville (North) & Madison (East) Cities,124425.297,1,100301
5,01,00302,26620,AL,"Huntsville, AL (Metro)",Huntsville City (Central & South),106218.3,1,100302

In [6]:
geocorr["cbsa"] = geocorr["cbsa"].apply(lambda x : pandas.to_numeric(x,errors="coerce"))

#
## Go through the topcoded CBSAs and make a dict for each CBSA. The keys
## are the codes of stpumas that overlap with the CBSA, and the values are 
## Geocorr's estimate of the percentage of the PUMA's population inside 
## the CBSA. E.g. {stpuma: afact} -- we'll need these later
#
def get_pumas(geo_id,geo_corr):
    cbsa = geo_corr[geo_corr["cbsa"] == geo_id] 
    if len(cbsa) == 0:
        print(geo_id)
    target = {}
    for index,row in cbsa.iterrows():
        target[int(row["stpuma"])] = float(row["afact"])
    return target

top_coded["PUMAS"] = top_coded["GEO.id2"].apply(lambda x: get_pumas(x,geocorr))

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [7]:
top_coded.head()

,GEO.id2,GEO.display-label,Upper_Limit_Bottom_20,Lower_Limit_Top_5,respop72016,PUMAS
0,35620,"New York-Newark-Jersey City, NY-NJ-PA Metro Area",25717,NaN,20275179,"{3400301: 1.0, 3400302: 1.0, 3400303: 1.0, 340..."
1,31080,"Los Angeles-Long Beach-Anaheim, CA Metro Area",25626,NaN,13328261,"{603701: 1.0, 603702: 1.0, 603703: 1.0, 603704..."
4,26420,"Houston-The Woodlands-Sugar Land, TX Metro Area",25785,NaN,6798010,"{4804400: 1.0, 4804501: 1.0, 4804502: 1.0, 480..."
5,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV M...",41076,NaN,6150681,"{1100101: 1.0, 1100102: 1.0, 1100103: 1.0, 110..."
9,14460,"Boston-Cambridge-Newton, MA-NH Metro Area",31367,NaN,4805942,"{2500400: 0.352, 2500501: 1.0, 2500502: 1.0, 2..."

### 2. Fetch and parse PUMS data

*This repo has the next few steps of data collection cached, in a file named "pums_we_want.pickle". To do the collection from scratch, delete "pums_we_want.pickle"*

The files we source the PUMS data from are too big for github, but can be downloaded directly from the census:

https://www.census.gov/programs-surveys/acs/data/pums.html

Our code fetches the files we need, puts all the data in a single DataFrame, zips them up and pickles them.

In [8]:
import zipfile,requests,io,os

#
# This is a table of all the PUMAs we care to look up, and their corresponding
# state fips and CBSA codes. It will throw errors, but they can be ignored. 
#
relevant_pumas = geocorr[geocorr["cbsa"].isin(top_coded["GEO.id2"])]

#
# We need our state and puma codes to be numerical, not strings, in order to
# compare them to the codes in the PUMS data.
#
relevant_pumas["state"] = relevant_pumas["state"].apply(lambda x: pandas.to_numeric(x))
relevant_pumas["puma12"] = relevant_pumas["puma12"].apply(lambda x: pandas.to_numeric(x))

#
# The household Census PUMS for every state in the US are available at this url: 
# https://www2.census.gov/programs-surveys/acs/data/pums/2016/1-Year/csv_hus.zip
# The following code downloads the zip, unzips it, and deletes the irrelevant files.
#
def download_unzip_census(path,directory):
    r = requests.get(path,stream=True)
    zip_ref = zipfile.ZipFile(io.BytesIO(r.content))
    zip_ref.extractall(directory) 

    # Delete any files you don't want
    files = ["ss16husa.csv","ss16husb.csv"]
    for filename in os.listdir(directory):
        if filename not in files:
            os.remove(directory+"/"+filename)
    # [[ Do I need to return something for style points? ]]
    
#
# Take out all states that aren't in our 'relevant' DataFrame, then take out 
# all PUMA codes that aren't synonymous with PUMAs in our 'relevant' DataFrame.
#
# This will leave in some PUMAs in the wrong state, but lets us do our make_stpuma()
# concatenation on a much smaller subset of the data, that still includes all the 
# rows we need. Once we do that concatenation, we can zero in on exactly the 
# rows corresponding to our desired stpumas.
#
def filter_geos(f,relevant):
    f = f[(f["ST"].isin(relevant["state"].unique()))]
    f = f[f["PUMA"].isin(relevant["puma12"].unique())]
    f["stpuma"] = f.apply(lambda x: make_stpuma(x["ST"],x["PUMA"]),axis=1)
    f = f[f["stpuma"].isin(relevant["stpuma"].unique())]
    return f        


#
# If the census files aren't unzipped locally, do that. Then load the contents of 
# both csvs into a single DataFrame
#
def load_pums(directory,relevant):
    if (os.path.isfile("too_big/pums/ss16husa.csv") & os.path.isfile("too_big/pums/ss16husa.csv")):
        download_unzip_census("https://www2.census.gov/programs-surveys/acs/data/pums/2016/1-Year/csv_hus.zip","too_big/pums")
    pums = pandas.DataFrame({})
    for filename in os.listdir(directory):
        if filename[0]!='.':
            tmp = pandas.read_csv(directory+"/"+filename)
            print(tmp.size)
            tmp = filter_geos(tmp,relevant)
            print(tmp.size)
            pums = pandas.concat([pums,tmp])
            print(pums.size)
    return pums

#
# If the pickle exists, fetch that. If not, pull the data again and pickle it. The 
# repo contains the pickle by default, so to rerun this code, delete the pickle or
# or rename it
#
def pums_data(pickle_name,sourcedir,pumas_we_want):
    if (os.path.isfile(pickle_name)):
        return pandas.read_pickle(pickle_name,"gzip")
    target = load_pums(sourcedir,pumas_we_want)
    target.to_pickle(pickle_name,"gzip")
    return target
 
pums_we_want = pums_data("pums_we_want.pickle","too_big/pums/",relevant_pumas)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [9]:
relevant_pumas["state"].unique()

array([ 6,  8,  9, 11, 15, 24, 25, 33, 34, 36, 42, 48, 51, 53, 54])

In [10]:
pums_we_want.shape

(316676, 231)

### 3. Simulate weighted data for each CBSA

*This step is also cached in a file named "cbsa_dict.pickle". To do the collection from scratch, delete "fips_dict.pickle".*

Now we have all the PUMS data for every geography we care about. This dataframe has a column "WGTP" which indicates how many households each particular record represents. In order to get accurate percentiles, we need each row to represent a single household.

We're going to convert the data by duplicating each row _n_ times, where _n_ equals the row's WGTP.

In [11]:
import math

# Make a list of length row[weight_col] where each entry is a dict: {"stpuma":stpuma,"HINCP":income}
def multiply(income, weight):
    return [income] * int(weight)

# Make a list where each income in our PUMS data is repeated for n rows, where n == row[weight_col]
def explode_weights(df, income_col, weight_col, stpuma_col):
    i =0
    result = []
    for index, row in df.iterrows():
        if (math.isnan(row["HINCP"]) == False): # Take out NaNs, which don't affect quantile
            result = result + multiply(row[income_col], row[weight_col])
    s = pandas.Series(result)
    return s

Now we will "sample" all the PUMS data we need from our new weighted dataset, for each CBSA. If a PUMA has an allocation factor of 1, it's entirely contained within our CBSA, so we take all of the rows in our expanded dataset. If it has an allocation factor less than 1, we randomly sample *n* rows from within our expanded dataset where *n* equals the allocation factor (a percentage) times the total rows in the expanded dataset.

We're doing this in it's own step and storing the results in a dict of the form {CBSA: [HHINC1, ... , HHINCN]}.

In [13]:
import pickle, gzip

def write_obj(obj,filename):
    f = gzip.open(filename,'wb')
    pickle.dump(obj,f)
    f.close

def load_obj(filename):
    f=gzip.open(filename,'rb')
    obj = pickle.load(f)
    f.close()
    return(obj)

In [14]:
def get_data(puma,percent,census):
    all_entries = explode_weights(census[census["stpuma"]==puma],"HINCP","WGTP","stpuma")
    if percent < 1: 
        s = all_entries.sample(frac=percent,random_state=0)
        return(s)
    return(all_entries)
    
def make_fips_data_dict(df,census,cached_file):
    if (os.path.isfile(cached_file)):
        return load_obj(cached_file)
    else:
        d = {}
        for index, row in df.iterrows():
            tar = pandas.Series()
            fip = row["GEO.id2"]
            pumas = row["PUMAS"]
            for p in pumas:
                new = get_data(p,pumas[p],census)
                tar = pandas.concat([tar,new])
            d[fip] = tar
        write_obj(d,cached_file)
        return d
    
fips_data_dict = make_fips_data_dict(top_coded,pums_we_want,"too_big/fips_dict.pickle")

### 4. Calculate quantiles

We use the pandas quantile function to calculate the 95th and 20th percentiles for each top-coded CBSA. We're also going to use the ADJINC factor to adjust income [ARTICULATE WHY]

In [20]:
adj_inc = pums_we_want["ADJINC"].unique()[0]/1000000

In [21]:
def get_quantile(fips,percent,d):
    data = d[fips]
    return(data.quantile(percent))

top_coded["Lower_Limit_Top_5"] = top_coded["GEO.id2"].apply(lambda x: get_quantile(x,.95,fips_data_dict)*adj_inc)
top_coded["Upper_Limit_Bottom_20"] = top_coded["GEO.id2"].apply(lambda x: get_quantile(x,.2,fips_data_dict)*adj_inc)
top_coded

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,GEO.id2,GEO.display-label,Upper_Limit_Bottom_20,Lower_Limit_Top_5,respop72016,PUMAS
0,35620,"New York-Newark-Jersey City, NY-NJ-PA Metro Area",25391.2176,304291.57600,20275179,"{3400301: 1.0, 3400302: 1.0, 3400303: 1.0, 340..."
1,31080,"Los Angeles-Long Beach-Anaheim, CA Metro Area",25189.7000,271041.17200,13328261,"{603701: 1.0, 603702: 1.0, 603703: 1.0, 603704..."
4,26420,"Houston-The Woodlands-Sugar Land, TX Metro Area",25189.7000,257942.52800,6798010,"{4804400: 1.0, 4804501: 1.0, 4804502: 1.0, 480..."
5,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV M...",40303.5200,318629.55324,6150681,"{1100101: 1.0, 1100102: 1.0, 1100103: 1.0, 110..."
9,14460,"Boston-Cambridge-Newton, MA-NH Metro Area",30529.9164,300664.25920,4805942,"{2500400: 0.352, 2500501: 1.0, 2500502: 1.0, 2..."
10,41860,"San Francisco-Oakland-Hayward, CA Metro Area",36273.1680,397594.22480,4699077,"{600101: 1.0, 600102: 1.0, 600103: 1.0, 600104..."
14,42660,"Seattle-Tacoma-Bellevue, WA Metro Area",34257.9920,272048.76000,3802660,"{5311501: 1.0, 5311502: 1.0, 5311503: 1.0, 531..."
16,41740,"San Diego-Carlsbad, CA Metro Area",30227.6400,253005.34680,3317200,"{607301: 1.0, 607302: 1.0, 607303: 1.0, 607304..."
18,19740,"Denver-Aurora-Lakewood, CO Metro Area",32242.8160,266003.23200,2851848,"{800100: 0.036, 800600: 0.157, 800801: 0.785, ..."
20,12580,"Baltimore-Columbia-Towson, MD Metro Area",30227.6400,257247.29228,2801028,"{2400400: 1.0, 2400501: 1.0, 2400502: 1.0, 240..."
30,12420,"Austin-Round Rock, TX Metro Area",31033.7104,268219.92560,2060558,"{4805100: 0.739, 4805201: 1.0, 4805202: 1.0, 4..."
34,41940,"San Jose-Sunnyvale-Santa Clara, CA Metro Area",41311.1080,430139.31720,1990910,"{605303: 0.422, 608501: 1.0, 608502: 1.0, 6085..."
46,25540,"Hartford-West Hartford-East Hartford, CT Metro...",29320.8108,256078.49020,1210075,"{900300: 1.0, 900301: 1.0, 900302: 1.0, 900303..."
53,46520,"Urban Honolulu, HI Metro Area",36273.1680,281923.12240,992761,"{1500301: 1.0, 1500302: 1.0, 1500303: 1.0, 150..."
56,14860,"Bridgeport-Stamford-Norwalk, CT Metro Area",34257.9920,485657.41600,949191,"{900100: 1.0, 900101: 1.0, 900102: 1.0, 900103..."
65,37100,"Oxnard-Thousand Oaks-Ventura, CA Metro Area",32746.6100,265197.16160,851096,"{611101: 1.0, 611102: 1.0, 611103: 1.0, 611104..."

### 5. Combine with the rest of the data, calculate ratios & rank!

In [22]:
combined = acs.join(top_coded[["GEO.id2","Lower_Limit_Top_5","Upper_Limit_Bottom_20"]].set_index("GEO.id2"),on="GEO.id2",rsuffix="_Calc")
combined.head()

,GEO.id2,GEO.display-label,Upper_Limit_Bottom_20,Lower_Limit_Top_5,respop72016,Lower_Limit_Top_5_Calc,Upper_Limit_Bottom_20_Calc
0,35620,"New York-Newark-Jersey City, NY-NJ-PA Metro Area",25717,NaN,20275179,304291.576,25391.2176
1,31080,"Los Angeles-Long Beach-Anaheim, CA Metro Area",25626,NaN,13328261,271041.172,25189.7000
2,16980,"Chicago-Naperville-Elgin, IL-IN-WI Metro Area",25921,245949.0,9546326,NaN,NaN
3,19100,"Dallas-Fort Worth-Arlington, TX Metro Area",28601,234781.0,7253424,NaN,NaN
4,26420,"Houston-The Woodlands-Sugar Land, TX Metro Area",25785,NaN,6798010,257942.528,25189.7000

In [25]:
def ninetyfive_twenty(row):
    ninetyfive = row["Lower_Limit_Top_5"]
    twenty = row["Upper_Limit_Bottom_20"]
    if math.isnan(ninetyfive):
        ninetyfive = row["Upper_Limit_Bottom_20_Calc"]
        twenty = row["Upper_Limit_Bottom_20_Calc"]
    return (ninetyfive/twenty)
    
combined[9520] = top_coded.apply(lambda x: ninetyfive_twenty(x),axis=1)
combined.sort_values(9520,ascending=False)

,GEO.id2,GEO.display-label,Upper_Limit_Bottom_20,Lower_Limit_Top_5,respop72016,Lower_Limit_Top_5_Calc,Upper_Limit_Bottom_20_Calc,9520
56,14860,"Bridgeport-Stamford-Norwalk, CT Metro Area",34119,NaN,949191,485657.41600,34257.9920,14.176471
0,35620,"New York-Newark-Jersey City, NY-NJ-PA Metro Area",25717,NaN,20275179,304291.57600,25391.2176,11.984127
10,41860,"San Francisco-Oakland-Hayward, CA Metro Area",36353,NaN,4699077,397594.22480,36273.1680,10.961111
1,31080,"Los Angeles-Long Beach-Anaheim, CA Metro Area",25626,NaN,13328261,271041.17200,25189.7000,10.760000
34,41940,"San Jose-Sunnyvale-Santa Clara, CA Metro Area",41879,NaN,1990910,430139.31720,41311.1080,10.412195
4,26420,"Houston-The Woodlands-Sugar Land, TX Metro Area",25785,NaN,6798010,257942.52800,25189.7000,10.240000
9,14460,"Boston-Cambridge-Newton, MA-NH Metro Area",31367,NaN,4805942,300664.25920,30529.9164,9.848185
46,25540,"Hartford-West Hartford-East Hartford, CT Metro...",29378,NaN,1210075,256078.49020,29320.8108,8.733677
30,12420,"Austin-Round Rock, TX Metro Area",31674,NaN,2060558,268219.92560,31033.7104,8.642857
20,12580,"Baltimore-Columbia-Towson, MD Metro Area",31209,NaN,2801028,257247.29228,30227.6400,8.510333
16,41740,"San Diego-Carlsbad, CA Metro Area",30265,NaN,3317200,253005.34680,30227.6400,8.370000
18,19740,"Denver-Aurora-Lakewood, CO Metro Area",32297,NaN,2851848,266003.23200,32242.8160,8.250000
65,37100,"Oxnard-Thousand Oaks-Ventura, CA Metro Area",34721,NaN,851096,265197.16160,32746.6100,8.098462
14,42660,"Seattle-Tacoma-Bellevue, WA Metro Area",34576,NaN,3802660,272048.76000,34257.9920,7.941176
5,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV M...",41076,NaN,6150681,318629.55324,40303.5200,7.905750
53,46520,"Urban Honolulu, HI Metro Area",36055,NaN,992761,281923.12240,36273.1680,7.772222
2,16980,"Chicago-Naperville-Elgin, IL-IN-WI Metro Area",25921,245949.0,9546326,NaN,NaN,NaN
3,19100,"Dallas-Fort Worth-Arlington, TX Metro Area",28601,234781.0,7253424,NaN,NaN,NaN
6,33100,"Miami-Fort Lauderdale-West Palm Beach, FL Metr...",21198,221668.0,6107433,NaN,NaN,NaN
7,37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD Me...",25571,246971.0,6077152,NaN,NaN,NaN
8,12060,"Atlanta-Sandy Springs-Roswell, GA Metro Area",26684,234699.0,5795723,NaN,NaN,NaN
11,38060,"Phoenix-Mesa-Scottsdale, AZ Metro Area",25676,210270.0,4648498,NaN,NaN,NaN
12,40140,"Riverside-San Bernardino-Ontario, CA Metro Area",24267,195269.0,4523653,NaN,NaN,NaN
13,19820,"Detroit-Warren-Dearborn, MI Metro Area",22298,209570.0,4305869,NaN,NaN,NaN
15,33460,"Minneapolis-St. Paul-Bloomington, MN-WI Metro ...",31969,241306.0,3557276,NaN,NaN,NaN
17,45300,"Tampa-St. Petersburg-Clearwater, FL Metro Area",22002,189853.0,3036525,NaN,NaN,NaN
19,41180,"St. Louis, MO-IL Metro Area",25987,210095.0,2806782,NaN,NaN,NaN
21,16740,"Charlotte-Concord-Gastonia, NC-SC Metro Area",26125,217811.0,2475519,NaN,NaN,NaN
22,36740,"Orlando-Kissimmee-Sanford, FL Metro Area",23845,190932.0,2453333,NaN,NaN,NaN
23,41700,"San Antonio-New Braunfels, TX Metro Area",24408,201882.0,2426211,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
70,17900,"Columbia, SC Metro Area",22249,180630.0,817443,NaN,NaN,NaN
71,19380,"Dayton, OH Metro Area",20684,176600.0,800886,NaN,NaN,NaN
72,35840,"North Port-Sarasota-Bradenton, FL Metro Area",25150,211076.0,788442,NaN,NaN,NaN
73,16700,"Charleston-North Charleston, SC Metro Area",24018,210376.0,761904,NaN,NaN,NaN
74,24660,"Greensboro-High Point, NC Metro Area",19529,172896.0,756564,NaN,NaN,NaN
75,44700,"Stockton-Lodi, CA Metro Area",24433,205311.0,734294,NaN,NaN,NaN
76,30780,"Little Rock-North Little Rock-Conway, AR Metro...",21503,180737.0,733461,NaN,NaN,NaN
77,15980,"Cape Coral-Fort Myers, FL Metro Area",24360,193214.0,722506,NaN,NaN,NaN
78,17820,"Colorado Springs, CO Metro Area",28154,201009.0,710746,NaN,NaN,NaN
79,10420,"Akron, OH Metro Area",21522,185176.0,702556,NaN,NaN,NaN
80,14260,"Boise City, ID Metro Area",24162,179149.0,690810,NaN,NaN,NaN
81,29460,"Lakeland-Winter Haven, FL Metro Area",20959,151930.0,667018,NaN,NaN,NaN
82,49180,"Winston-Salem, NC Metro Area",20582,172255.0,661708,NaN,NaN,NaN
83,45060,"Syracuse, NY Metro Area",22199,183561.0,656931,NaN,NaN,NaN
84,36260,"Ogden-Clearfield, UT Metro Area",35545,184908.0,652995,NaN,NaN,NaN
85,31540,"Madison, WI Metro Area",30524,216362.0,647432,NaN,NaN,NaN
86,48620,"Wichita, KS Metro Area",23312,177733.0,644680,NaN,NaN,NaN
87,19660,"Deltona-Daytona Beach-Ormond Beach, FL Metro Area",20699,153916.0,636843,NaN,NaN,NaN
88,19780,"Des Moines-West Des Moines, IA Metro Area",29734,213480.0,634740,NaN,NaN,NaN
89,44140,"Springfield, MA Metro Area",21830,188808.0,630661,NaN,NaN,NaN
90,45780,"Toledo, OH Metro Area",19136,176437.0,604591,NaN,NaN,NaN
91,39340,"Provo-Orem, UT Metro Area",31575,204456.0,601478,NaN,NaN,NaN
92,12260,"Augusta-Richmond County, GA-SC Metro Area",20003,161541.0,594889,NaN,NaN,NaN
93,27140,"Jackson, MS Metro Area",21272,185411.0,579558,NaN,NaN,NaN
94,37340,"Palm Bay-Melbourne-Titusville, FL Metro Area",22052,192061.0,577899,NaN,NaN,NaN
95,25420,"Harrisburg-Carlisle, PA Metro Area",28410,197249.0,568008,NaN,NaN,NaN
96,20500,"Durham-Chapel Hill, NC Metro Area",23595,230612.0,558920,NaN,NaN,NaN
97,42540,"Scranton--Wilkes-Barre--Hazleton, PA Metro Area",19559,168199.0,555171,NaN,NaN,NaN
98,44060,"Spokane-Spokane Valley, WA Metro Area",23357,181918.0,554777,NaN,NaN,NaN
99,16860,"Chattanooga, TN-GA Metro Area",20474,182214.0,551957,NaN,NaN,NaN