# Calculating Inequality

To get a sense of how inequality in Connecticut's cities compared nationally, we decided to look at the ratio between two benchmarks: The lowest combined income a household could earn while still breaking into the top 5 percent of household income and the highest combined income a household could earn while still falling in the bottom 20 percent. The farther apart these two numbers are, proportionally, the greater the gap between rich and poor.

The US Census Bureau provides estimates of the numbers we need in a table titled [HOUSEHOLD INCOME QUINTILE UPPER LIMITS](https://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?pid=ACS_16_5YR_B19080&prodType=table).

In [10]:
import pandas

acs = pandas.read_csv('ACS_16_1YR_B19080-1/ACS_16_1YR_B19080.csv')

## Bottom 20 cutoff is HD01_VD02, top 5 cutoff is HD01_VD06
acs = acs[["GEO.id2","GEO.display-label","HD01_VD02","HD01_VD06"]].rename(columns = {"HD01_VD02":"Upper_Limit_Bottom_20","HD01_VD06":"Lower_Limit_Top_5"})

## We're only interested in the 100 biggest metros, so let's join the resident population table and
## only include the largest.
#
## Link to census: https://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?pid=PEP_2017_PEPANNRES&prodType=table
#
pop_16 = pandas.read_csv("PEP_2017_PEPANNRES-1/PEP_2017_PEPANNRES.csv",encoding = "ISO-8859-1")
acs = acs.join(pop_16[["GEO.id2","respop72016"]].set_index("GEO.id2"),on="GEO.id2")
acs = acs.sort_values("respop72016",ascending=False).reset_index(drop=True)
acs = acs.loc[0:99]

acs.head(10)

,GEO.id2,GEO.display-label,Upper_Limit_Bottom_20,Lower_Limit_Top_5,respop72016
0,35620,"New York-Newark-Jersey City, NY-NJ-PA Metro Area",25717,NaN,20275179
1,31080,"Los Angeles-Long Beach-Anaheim, CA Metro Area",25626,NaN,13328261
2,16980,"Chicago-Naperville-Elgin, IL-IN-WI Metro Area",25921,245949.0,9546326
3,19100,"Dallas-Fort Worth-Arlington, TX Metro Area",28601,234781.0,7253424
4,26420,"Houston-The Woodlands-Sugar Land, TX Metro Area",25785,NaN,6798010
5,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV M...",41076,NaN,6150681
6,33100,"Miami-Fort Lauderdale-West Palm Beach, FL Metr...",21198,221668.0,6107433
7,37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD Me...",25571,246971.0,6077152
8,12060,"Atlanta-Sandy Springs-Roswell, GA Metro Area",26684,234699.0,5795723
9,14460,"Boston-Cambridge-Newton, MA-NH Metro Area",31367,NaN,4805942

#### Problem!
There are values missing from this table! The Census doesn't report estimates higher than $250,000. This is an example of [topcoding](link), which the Census says it does for privacy reasons. 16 of the cities in our dataset have topcoded lower limits to their top 5 percent of income earners.

In [2]:
top_coded = acs[acs["Lower_Limit_Top_5"].isnull()]
top_coded

,GEO.id2,GEO.display-label,Upper_Limit_Bottom_20,Lower_Limit_Top_5,respop72016
0,35620,"New York-Newark-Jersey City, NY-NJ-PA Metro Area",25717,NaN,20275179
1,31080,"Los Angeles-Long Beach-Anaheim, CA Metro Area",25626,NaN,13328261
4,26420,"Houston-The Woodlands-Sugar Land, TX Metro Area",25785,NaN,6798010
5,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV M...",41076,NaN,6150681
9,14460,"Boston-Cambridge-Newton, MA-NH Metro Area",31367,NaN,4805942
10,41860,"San Francisco-Oakland-Hayward, CA Metro Area",36353,NaN,4699077
14,42660,"Seattle-Tacoma-Bellevue, WA Metro Area",34576,NaN,3802660
16,41740,"San Diego-Carlsbad, CA Metro Area",30265,NaN,3317200
18,19740,"Denver-Aurora-Lakewood, CO Metro Area",32297,NaN,2851848
20,12580,"Baltimore-Columbia-Towson, MD Metro Area",31209,NaN,2801028
30,12420,"Austin-Round Rock, TX Metro Area",31674,NaN,2060558
34,41940,"San Jose-Sunnyvale-Santa Clara, CA Metro Area",41879,NaN,1990910
46,25540,"Hartford-West Hartford-East Hartford, CT Metro...",29378,NaN,1210075
53,46520,"Urban Honolulu, HI Metro Area",36055,NaN,992761
56,14860,"Bridgeport-Stamford-Norwalk, CT Metro Area",34119,NaN,949191
65,37100,"Oxnard-Thousand Oaks-Ventura, CA Metro Area",34721,NaN,851096

## Using PUMS to impute missing census aggregates

Luckily, we can use the [Public Use Microdata Sample (PUMS)](https://www.census.gov/programs-surveys/acs/technical-documentation/pums.html) to estimate these values ourselves.

[According to the Census](https://www.census.gov/programs-surveys/acs/technical-documentation/pums.html):

>*The American Community Survey (ACS) Public Use Microdata Sample (PUMS) files are a set of untabulated records about individual people or housing units. The Census Bureau produces the PUMS files so that data users can create custom tables that are not available through pretabulated (or summary) ACS data products.*

PUMS are also topcoded, but they're topcoded at $999,999 [CHECK THIS] which should let us get a good estimate of the lower cut-off of the top 5 percent of households.

### 1. Correlate PUMAs to CBSAs

In order to link the metro areas to the PUMS data, we need to map the GEO.id2 (FIPs codes) to the only geographic type provided in the PUMS data: Public Use Microdata Areas(PUMA). To do this we use the Missouri Census Data Center [Geographic Correspondence Engine](http://mcdc.missouri.edu/websas/geocorr14.html). Let's pull the mappings for CBSAs in all states, because we'll want them later:

![shot1](Screenshots/all_states.png)

We'll be mapping PUMAs to CBSAs (MSAs are a kind of CBSA):

![shot2](Screenshots/mapping.png)

And most PUMAs are entirely within a CBSA, but for those that aren't, Geocorr will estimate the percentage of the PUMA's population contained within that CBSA based off of 2014 measurements:

![shot3](Screenshots/population.png)

In [3]:
geocorr = pandas.read_csv("geocorr14.csv", encoding = "ISO-8859-1")[1:]
geocorr.head()

,state,puma12,cbsa,stab,cbsaname15,PUMAname,pop14,afact
1,01,00100,,AL,,"Lauderdale, Colbert, Franklin & Marion (Northe...",39326.125,0.21
2,01,00100,22520,AL,"Florence-Muscle Shoals, AL (Metro)","Lauderdale, Colbert, Franklin & Marion (Northe...",147639,0.79
3,01,00200,26620,AL,"Huntsville, AL (Metro)",Limestone & Madison (Outer) Counties--Huntsvil...,183944.849,1
4,01,00301,26620,AL,"Huntsville, AL (Metro)",Huntsville (North) & Madison (East) Cities,124425.297,1
5,01,00302,26620,AL,"Huntsville, AL (Metro)",Huntsville City (Central & South),106218.3,1

PUMAs are unique within states but not between them, so to map them to nationally unique FIPs codes (the 'cbsa' column) we'll need to combine the 'state' and 'puma12' columns into a new field like so:

In [11]:
def make_stpuma(st,puma):
    return int(str(st)+str(puma).ljust(5,'0'))

geocorr['stpuma'] = geocorr.apply(lambda x: make_stpuma(x["state"],x["puma12"]),axis=1)
geocorr.head()

,state,puma12,cbsa,stab,cbsaname15,PUMAname,pop14,afact,stpuma
1,01,00100,NaN,AL,,"Lauderdale, Colbert, Franklin & Marion (Northe...",39326.125,0.21,100100
2,01,00100,22520.0,AL,"Florence-Muscle Shoals, AL (Metro)","Lauderdale, Colbert, Franklin & Marion (Northe...",147639,0.79,100100
3,01,00200,26620.0,AL,"Huntsville, AL (Metro)",Limestone & Madison (Outer) Counties--Huntsvil...,183944.849,1,100200
4,01,00301,26620.0,AL,"Huntsville, AL (Metro)",Huntsville (North) & Madison (East) Cities,124425.297,1,100301
5,01,00302,26620.0,AL,"Huntsville, AL (Metro)",Huntsville City (Central & South),106218.3,1,100302

In [12]:
geocorr["cbsa"] = geocorr["cbsa"].apply(lambda x : pandas.to_numeric(x,errors="coerce"))

#
## Go through the topcoded CBSAs and make a dict for each CBSA. The keys
## are the codes of stpumas that overlap with the CBSA, and the values are 
## Geocorr's estimate of the percentage of the PUMA's population inside 
## the CBSA. E.g. {stpuma: afact} -- we'll need these later
#
def get_pumas(geo_id,geo_corr):
    cbsa = geo_corr[geo_corr["cbsa"] == geo_id] 
    if len(cbsa) == 0:
        print(geo_id)
    target = {}
    for index,row in cbsa.iterrows():
        target[int(row["stpuma"])] = float(row["afact"])
    return target

top_coded["PUMAS"] = top_coded["GEO.id2"].apply(lambda x: get_pumas(x,geocorr))

In [13]:
top_coded.head()

,GEO.id2,GEO.display-label,Upper_Limit_Bottom_20,Lower_Limit_Top_5,respop72016,PUMAS
0,35620,"New York-Newark-Jersey City, NY-NJ-PA Metro Area",25717,NaN,20275179,"{3400301: 1.0, 3400302: 1.0, 3400303: 1.0, 340..."
1,31080,"Los Angeles-Long Beach-Anaheim, CA Metro Area",25626,NaN,13328261,"{603701: 1.0, 603702: 1.0, 603703: 1.0, 603704..."
4,26420,"Houston-The Woodlands-Sugar Land, TX Metro Area",25785,NaN,6798010,"{4804400: 1.0, 4804501: 1.0, 4804502: 1.0, 480..."
5,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV M...",41076,NaN,6150681,"{1100101: 1.0, 1100102: 1.0, 1100103: 1.0, 110..."
9,14460,"Boston-Cambridge-Newton, MA-NH Metro Area",31367,NaN,4805942,"{2500400: 0.352, 2500501: 1.0, 2500502: 1.0, 2..."

### 2. Fetch and parse PUMS data

This repo has the next few steps of data collection cached, in a file named "pums_we_want.pickle". To do the collection from scratch, delete "pums_we_want.pickle". The files we source the PUMS data from are too big for
github, but can be downloaded directly from the census:

https://www.census.gov/programs-surveys/acs/data/pums.html

In [15]:
import zipfile,requests,io,os

#
# This is a table of all the PUMAs we care to look up, and their corresponding
# state fips and CBSA codes. It will throw errors, but they can be ignored.
#
relevant_pumas = geocorr[geocorr["cbsa"].isin(top_coded["GEO.id2"])]
relevant_pumas["state"] = relevant_pumas["state"].apply(lambda x: pandas.to_numeric(x))
relevant_pumas["puma12"] = relevant_pumas["puma12"].apply(lambda x: pandas.to_numeric(x))

#
# The household Census PUMS for every state in the US are available at this url: 
# https://www2.census.gov/programs-surveys/acs/data/pums/2016/1-Year/csv_hus.zip
# The following code downloads the zip, unzips it, and deletes the irrelevant files.
#
def download_unzip_census(path,directory):
    r = requests.get(path,stream=True)
    zip_ref = zipfile.ZipFile(io.BytesIO(r.content))
    zip_ref.extractall(directory)
    
#
# Delete any files you don't want
#
    files = ["ss16husa.csv","ss16husb.csv"]
    for filename in os.listdir(directory):
        if filename not in files:
            os.remove(directory+"/"+filename)

#
# Take out all states that aren't in our 'relevant' DataFrame, then take out 
# all PUMA codes that aren't synonymous with PUMAs in our 'relevant' DataFrame.
#
# This will leave in some PUMAs in the wrong state, but lets us do our make_stpuma()
# concatenation on a much smaller subset of the data, that still includes all the 
# rows we need. Once we do that concatenation, we can zero in on exactly the 
# rows corresponding to our desired stpumas.
#
def filter_geos(f,relevant):
    f = f[f["ST"].isin(relevant["state"].unique())]
    f = f[f["PUMA"].isin(relevant["puma12"].unique())]
    f["stpuma"] = f.apply(lambda x: make_stpuma(x["ST"],x["PUMA"]),axis=1)
    f = f[f["stpuma"].isin(relevant["stpuma"])]
    return f

#
# If the census files aren't unzipped locally, do that. Then load the contents of 
# both csvs into a single DataFrame
#
def load_pums(directory,relevant):
    if (os.path.isfile("too_big/pums/ss16husa.csv") & os.path.isfile("too_big/pums/ss16husa.csv")):
        download_unzip_census("https://www2.census.gov/programs-surveys/acs/data/pums/2016/1-Year/csv_hus.zip","too_big/pums")
    pums = pandas.DataFrame({})
    for filename in os.listdir(directory):
        if filename[0]!='.':
            tmp = pandas.read_csv(directory+"/"+filename)
            tmp = filter_geos(tmp,relevant)
            pums = pandas.concat([pums,tmp])
    return pums

#
# If the pickle exists, fetch that. If not, pull the data again and pickle it. The 
# repo contains the pickle by default, so to rerun this code, delete the pickle or
# or rename it
#
def pums_data(pickle_name,sourcedir,pumas_we_want):
    if (os.path.isfile(pickle_name)):
        return pandas.read_pickle(pickle_name,"gzip")
    pums_we_want = load_pums(sourcedir,pumas_we_want)
    pums_we_want.to_pickle(pickle_name,"gzip")
    
pums_we_want = pums_data("pums_we_want.pickle","too_big/pums/",relevant_pumas)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

# Simulate weighted data

Now we have all the PUMS data for every geography we care about. This dataframe has a column "WGTP" which indicates how many households each particular record represents. In order to get accurate percentiles, we need each row to represent a single household. We're going to convert the data by duplicating each row n times, where n equals the row's WGTP.