# Connecticut Inequality

To get a sense of how inequality in Connecticut's cities compared nationally, we decided to look at the ratio between two benchmarks: The lowest combined income a household could earn while still breaking into the top 5 percent of household income and the highest combined income a household could earn while still falling in the bottom 20 percent.

The US Census Bureau provides estimates of the numbers we need in a table titled [HOUSEHOLD INCOME QUINTILE UPPER LIMITS](https://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?pid=ACS_16_5YR_B19080&prodType=table).

In [27]:
import pandas

acs = pandas.read_csv('ACS_16_1YR_B19080-1/ACS_16_1YR_B19080.csv')

## Bottom 20 cutoff is HD01_VD02, top 5 cutoff is HD01_VD06
acs = acs[["GEO.id2","GEO.display-label","HD01_VD02","HD01_VD06"]].rename(columns = {"HD01_VD02":"Upper_Limit_Bottom_20","HD01_VD06":"Lower_Limit_Top_5"})

## We're only interested in the 100 biggest cities, so let's join the resident population table and
## only include the largest.
#
## Link to census: https://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?pid=PEP_2017_PEPANNRES&prodType=table
#
pop_16 = pandas.read_csv("PEP_2017_PEPANNRES-1/PEP_2017_PEPANNRES.csv",encoding = "ISO-8859-1")
acs = acs.join(pop_16[["GEO.id2","respop72016"]].set_index("GEO.id2"),on="GEO.id2")
acs = acs.sort_values("respop72016",ascending=False).reset_index()
acs = acs.loc[0:99]

acs

,index,GEO.id2,GEO.display-label,Upper_Limit_Bottom_20,Lower_Limit_Top_5,respop72016
0,249,35620,"New York-Newark-Jersey City, NY-NJ-PA Metro Area",25717,NaN,20275179
1,210,31080,"Los Angeles-Long Beach-Anaheim, CA Metro Area",25626,NaN,13328261
2,68,16980,"Chicago-Naperville-Elgin, IL-IN-WI Metro Area",25921,245949.0,9546326
3,86,19100,"Dallas-Fort Worth-Arlington, TX Metro Area",28601,234781.0,7253424
4,159,26420,"Houston-The Woodlands-Sugar Land, TX Metro Area",25785,NaN,6798010
5,363,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV M...",41076,NaN,6150681
6,225,33100,"Miami-Fort Lauderdale-West Palm Beach, FL Metr...",21198,221668.0,6107433
7,269,37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD Me...",25571,246971.0,6077152
8,17,12060,"Atlanta-Sandy Springs-Roswell, GA Metro Area",26684,234699.0,5795723
9,42,14460,"Boston-Cambridge-Newton, MA-NH Metro Area",31367,NaN,4805942
10,310,41860,"San Francisco-Oakland-Hayward, CA Metro Area",36353,NaN,4699077
11,270,38060,"Phoenix-Mesa-Scottsdale, AZ Metro Area",25676,210270.0,4648498
12,290,40140,"Riverside-San Bernardino-Ontario, CA Metro Area",24267,195269.0,4523653
13,97,19820,"Detroit-Warren-Dearborn, MI Metro Area",22298,209570.0,4305869
14,319,42660,"Seattle-Tacoma-Bellevue, WA Metro Area",34576,NaN,3802660
15,230,33460,"Minneapolis-St. Paul-Bloomington, MN-WI Metro ...",31969,241306.0,3557276
16,309,41740,"San Diego-Carlsbad, CA Metro Area",30265,NaN,3317200
17,341,45300,"Tampa-St. Petersburg-Clearwater, FL Metro Area",22002,189853.0,3036525
18,95,19740,"Denver-Aurora-Lakewood, CO Metro Area",32297,NaN,2851848
19,302,41180,"St. Louis, MO-IL Metro Area",25987,210095.0,2806782
20,23,12580,"Baltimore-Columbia-Towson, MD Metro Area",31209,NaN,2801028
21,64,16740,"Charlotte-Concord-Gastonia, NC-SC Metro Area",26125,217811.0,2475519
22,260,36740,"Orlando-Kissimmee-Sanford, FL Metro Area",23845,190932.0,2453333
23,308,41700,"San Antonio-New Braunfels, TX Metro Area",24408,201882.0,2426211
24,276,38900,"Portland-Vancouver-Hillsboro, OR-WA Metro Area",30297,231306.0,2423102
25,272,38300,"Pittsburgh, PA Metro Area",22973,199782.0,2341536
26,297,40900,"Sacramento--Roseville--Arden-Arcade, CA Metro ...",26571,231152.0,2295233
27,70,17140,"Cincinnati, OH-KY-IN Metro Area",24523,211187.0,2166029
28,197,29820,"Las Vegas-Henderson-Paradise, NV Metro Area",24088,181804.0,2156724
29,180,28140,"Kansas City, MO-KS Metro Area",27415,210160.0,2106382
...,...,...,...,...,...,...
70,78,17900,"Columbia, SC Metro Area",22249,180630.0,817443
71,91,19380,"Dayton, OH Metro Area",20684,176600.0,800886
72,251,35840,"North Port-Sarasota-Bradenton, FL Metro Area",25150,211076.0,788442
73,63,16700,"Charleston-North Charleston, SC Metro Area",24018,210376.0,761904
74,142,24660,"Greensboro-High Point, NC Metro Area",19529,172896.0,756564
75,337,44700,"Stockton-Lodi, CA Metro Area",24433,205311.0,734294
76,206,30780,"Little Rock-North Little Rock-Conway, AR Metro...",21503,180737.0,733461
77,54,15980,"Cape Coral-Fort Myers, FL Metro Area",24360,193214.0,722506
78,76,17820,"Colorado Springs, CO Metro Area",28154,201009.0,710746
79,1,10420,"Akron, OH Metro Area",21522,185176.0,702556
80,41,14260,"Boise City, ID Metro Area",24162,179149.0,690810
81,192,29460,"Lakeland-Winter Haven, FL Metro Area",20959,151930.0,667018
82,375,49180,"Winston-Salem, NC Metro Area",20582,172255.0,661708
83,339,45060,"Syracuse, NY Metro Area",22199,183561.0,656931
84,256,36260,"Ogden-Clearfield, UT Metro Area",35545,184908.0,652995
85,216,31540,"Madison, WI Metro Area",30524,216362.0,647432
86,370,48620,"Wichita, KS Metro Area",23312,177733.0,644680
87,94,19660,"Deltona-Daytona Beach-Ormond Beach, FL Metro Area",20699,153916.0,636843
88,96,19780,"Des Moines-West Des Moines, IA Metro Area",29734,213480.0,634740
89,332,44140,"Springfield, MA Metro Area",21830,188808.0,630661
90,345,45780,"Toledo, OH Metro Area",19136,176437.0,604591
91,280,39340,"Provo-Orem, UT Metro Area",31575,204456.0,601478
92,20,12260,"Augusta-Richmond County, GA-SC Metro Area",20003,161541.0,594889
93,167,27140,"Jackson, MS Metro Area",21272,185411.0,579558
94,264,37340,"Palm Bay-Melbourne-Titusville, FL Metro Area",22052,192061.0,577899
95,149,25420,"Harrisburg-Carlisle, PA Metro Area",28410,197249.0,568008
96,102,20500,"Durham-Chapel Hill, NC Metro Area",23595,230612.0,558920
97,318,42540,"Scranton--Wilkes-Barre--Hazleton, PA Metro Area",19559,168199.0,555171
98,330,44060,"Spokane-Spokane Valley, WA Metro Area",23357,181918.0,554777
99,66,16860,"Chattanooga, TN-GA Metro Area",20474,182214.0,551957

There are a few values missing from this table!

In [28]:
acs[acs["Lower_Limit_Top_5"].isnull()]

,index,GEO.id2,GEO.display-label,Upper_Limit_Bottom_20,Lower_Limit_Top_5,respop72016
0,249,35620,"New York-Newark-Jersey City, NY-NJ-PA Metro Area",25717,NaN,20275179
1,210,31080,"Los Angeles-Long Beach-Anaheim, CA Metro Area",25626,NaN,13328261
4,159,26420,"Houston-The Woodlands-Sugar Land, TX Metro Area",25785,NaN,6798010
5,363,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV M...",41076,NaN,6150681
9,42,14460,"Boston-Cambridge-Newton, MA-NH Metro Area",31367,NaN,4805942
10,310,41860,"San Francisco-Oakland-Hayward, CA Metro Area",36353,NaN,4699077
14,319,42660,"Seattle-Tacoma-Bellevue, WA Metro Area",34576,NaN,3802660
16,309,41740,"San Diego-Carlsbad, CA Metro Area",30265,NaN,3317200
18,95,19740,"Denver-Aurora-Lakewood, CO Metro Area",32297,NaN,2851848
20,23,12580,"Baltimore-Columbia-Towson, MD Metro Area",31209,NaN,2801028
30,21,12420,"Austin-Round Rock, TX Metro Area",31674,NaN,2060558
34,311,41940,"San Jose-Sunnyvale-Santa Clara, CA Metro Area",41879,NaN,1990910
46,151,25540,"Hartford-West Hartford-East Hartford, CT Metro...",29378,NaN,1210075
53,352,46520,"Urban Honolulu, HI Metro Area",36055,NaN,992761
56,46,14860,"Bridgeport-Stamford-Norwalk, CT Metro Area",34119,NaN,949191
65,263,37100,"Oxnard-Thousand Oaks-Ventura, CA Metro Area",34721,NaN,851096